<div class="p-4">
  <h1>TV Series</h1>

  <div
    class="d-flex"
    style="gap: 20px; align-items: flex-start; flex-wrap: nowrap;"
  >
    <div style="flex: 2;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Channel</th>
            <th>Seasons</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let serie of series"
            (click)="selectSerie(serie)"
            style="cursor: pointer;"
          >
            <td>{{ serie.id }}</td>
            <td>{{ serie.name }}</td>
            <td>{{ serie.channel }}</td>
            <td>{{ serie.seasons }}</td>
          </tr>
        </tbody>
      </table>

      <p><strong>Average seasons:</strong> {{ averageSeasons }}</p>
    </div>

    <div id="card-container" *ngIf="selectedSerie" style="flex: 1;">
      <div class="card" style="width: 18rem;">
        <img
          [src]="selectedSerie?.poster"
          class="card-img-top"
          [alt]="selectedSerie?.name"
        />
        <div class="card-body">
          <h5 class="card-title">{{ selectedSerie?.name }}</h5>
          <p class="card-text">{{ selectedSerie?.description }}</p>
          <a
            [href]="selectedSerie?.webpage"
            target="_blank"
            class="btn btn-primary"
          >
            More Info
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
